body{
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}
#GameSpace{
  margin: 0 auto;
  max-width: 80%;
  background-color: grey;
  color: black;
  display: inline-block;
}
.country {
  float: none;
  height: 50px;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  border: 2px solid black;
  display: inline-block;
}
.stuff, p{
  height: 0px;
  width: 0px;
  color: transparent;
}
.pop, .pop2 {
  background: solid;
  background-color: grey;
  position: fixed;
  height: auto;
  border: 10px solid black;
  z-index: 2;
  overflow: auto;
  color: black;
  width: 250px;
  font-size: 36px;
}
.pop{
  top: 25%;
  left: 50%;
}
.pop2{
  top: 30%;
  left: 50%;
}
/*The below classes are not working...?*/
.correct{
  background: solid;
  background-color: #66FF00;
}
.tryAgain{
  background: solid;
  background-color: #FF033E;
}
